/* This is the config file for nextflow Kallisto pipeline.
* You will probably need to edit this for the purpose of your server
* Here it is configured with two profiles, one for local and one for an SGE based HPC
* Set the profile using -profile (e.g. -profile cluster)
*/

manifest {
    homePage = 'https://github.com/adamrtalbot/kallisto_nf'
    description = 'Nextflow pipeline for Kallisto RNA-Seq'
    mainScript = 'kallisto.nf'
}

profiles {

    standard {
        process.executor = 'local'
    }

    sge {
        process.executor = 'sge'
        process.time = '1h'
        process.clusterOptions = '-cwd -V'
        process.shell = ['/bin/bash','-e']
        }

}
